:host {
  color: #fff;
}

/* HeroDetailComponent's private CSS styles */

h2 {
  font-family: 'Dancing Script';
  font-size: 26px;
  font-weight: bolder;
  width: fit-content;
  border-bottom: 3px solid greenyellow;
}

input {
  padding: .5rem;
  border-radius: 0.25rem;
  border: 2px solid #fff ;
  font-size: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

input:focus {
  outline: none !important;
  border: 2px solid greenyellow;
  box-shadow: 0 0 10px #719ECE;
}

.btn_back {
  color: #333;
  background-color: #eee;
  margin-bottom: 12px;  
  border-radius: 4px;
  font-size: 1rem;
  padding-left: 0.875em;
  padding-right: 0.875em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

.btn_back:hover {
  color: white;
  background-color: rgba(0, 98, 255, 0.745);
}

.btn_save {
  font-size: 1rem;
  margin-left: 0.5rem;
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: solid 2px transparent;
}

.btn_save:hover {
  color: #fff;
  background: rgb(8, 232, 8);
}