/* DashboardComponent's private CSS styles */

h2 {
  text-align: center;
  font-family: 'Dancing Script';
  font-size: 32px;
  font-weight: 800;
  padding-bottom: 0.5em;
  border-bottom: 3px solid greenyellow;
}

.heroes-menu {
  padding: 0;
  margin: auto;
  max-width: 1000px;

  /* flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

a {
  background-color: #fff;
  border-radius: 2px;
  padding: 1rem;
  font-size: 1rem;
  text-decoration: none;
  display: inline-block;
  color: rgb(31 41 55);
  text-align: center;
  width: 100%;
  min-width: 70px;
  margin: .5rem auto;
  box-sizing: border-box;
  border-radius: 0.5rem;

  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

@media (min-width: 600px) {
  a {
    width: 18%;
    box-sizing: content-box;
  }
}

a:hover {
  background-color: rgb(150, 249, 0);
  color:#fff;
}