html {
  padding:0;
  margin:0;
}

h1 {
  color: #fff;
  font-family: 'Dancing Script', Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #fff;
  font-family: 'Dancing Script';;
  font-weight: bolder;
}

body {
  background: rgb(14 165 233);
  padding-left: 1rem;
  padding-right: 1rem;
}

body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}

button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

button:hover {
  background-color: black;
  color: white;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
