/* HeroesComponent's private CSS styles */

/* Styles and style sheets identified in @Component metadata are scoped to that specific component. 
The heroes.component.css styles apply only to the HeroesComponent and don't affect the outer HTML or the HTML in any other component. */

:host {
 color:#fff;
}

.heroes {
  margin: 0 0 1em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.heroes li {
  display: flex;
  width: 15em;
}

.heroes .item_hero {
  text-decoration: none;
  color: #2c3a41;
  flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: 0;
  border-radius: 4px;
  display: flex;
  align-items: stretch;
  height: 1.8em;
}

.heroes .item_hero:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}

.heroes .item_hero:active {
  background-color: #525252;
  color: #fafafa;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.heroes .name {
  align-self: center;
}

.delete {
  text-decoration: none;
  color: rgb(75 85 99);
  cursor: pointer;
  padding: 0.5rem 0;
  height: 1.5em;
  width: 1.5em;
}

.delete:hover {
  color: red;
  transform: scale(1.2);
}

.add-button {
  margin-left: 0.5em;
  border: solid 2px transparent;
  font-size: 1rem;
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.add-button:hover {
  color: #fff;
  background: rgb(148 163 184);
}

input {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 2px solid transparent;
  font-size: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

input:focus {
  outline: none !important;
  border: 2px solid greenyellow;
  box-shadow: 0 0 10px #719ECE;
}