<h2>My Heroes</h2>
<!-- The word uppercase in the interpolation binding after the pipe | character, activates the built-in UppercasePipe. -->
<!-- Pipes https://angular.io/guide/pipes are a good way to format strings, currency amounts, dates, and other display data. Angular ships with several built-in pipes and you can create your own. -->

<ul class='heroes'>
    <li *ngFor="let hero of heroes">
        <!-- The *ngFor is Angular's repeater directive. It repeats the host element for each element in a list. -->
        <!-- The parentheses around click tell Angular to listen for the <button> element's click event. When the user clicks in the <button>, Angular executes the onSelect(hero) expression. -->
        <a routerLink="/detail/{{hero.id}}" class="item_hero">
            <span class="badge">{{ hero.id }}</span>
            <span class="name"> {{ hero.name }}</span>
        </a>
        <a class="delete" title="delete hero" (click)="delete(hero)"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
            </svg></a>
    </li>
</ul>


<div>
    <label for="new-hero">Hero name </label>
    <input id="new-hero" #heroName />

    <!-- (click) passes input value to add() and then clears the input -->
    <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
        Add hero
    </button>
</div>

<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->

<!-- *ngIf directive wraps the hero details.
This directive tells Angular to render the section only when the selectedHero is defined after it has been selected by clicking on a hero. -->
<!-- <div *ngIf="selectedHero">
    <h2>{{selectedHero.name | uppercase}} Details</h2>
    <div>ID: {{selectedHero.id}}</div>
    <div>
        <label for="hero-name">Hero name: </label>
        <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
    </div>
</div> -->

<!-- <div>
    <span>id : </span> {{ hero.id }}
</div>
<div>
    <span>name : </span> {{ hero.name }}
</div> -->

<!-- <div> -->
<!-- [(ngModel)] is Angular's two-way data binding syntax.
    Here it binds the hero.name property to the HTML text box so that data can flow in both directions. Data can flow from the hero.name property to the text box and from the text box back to the hero.name. -->
<!-- <label for="name">Hero name: </label>
    <input id="name" [(ngModel)]="hero.name" placeholder="name"> -->
<!-- </div> -->